#ad {
  width: 300px;
  height: 600px;
  background-color: #F19C38;
}

#ad .logo {
  width: 14em;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.weather {
  text-align: center;
  color: #F7F7F7;
  font-size: 30px;
  padding-top: 10px;
}

.description {
  text-align: center;
  color: #F7F7F7;
  font-size: 20px;
  padding-top: 10px;
}

#cover {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}